body {
    background-color: darkgray;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.js-clock {
    grid-column: 1/3;
    font-size: 4em;

}

.js-input {
    grid-column: 1/3;
}

.js-greetings {
    text-align: center;
    font-size: 3em;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}

input {
    width: 500px;
    height: 40px;
    font-size: 30px;
    border: 0px;
    background-color: transparent;
    text-align: center;
}

button {
    border: 0px;
    background-color: transparent;
    font-size: 20px;
}

span {
    font-size: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

ul {
    list-style-type: none;
}

li:before {
    content: "👉"
}